.checkoutbtn {
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    letter-spacing: .12em;
    font-size: 15px;
    font-family: 'Lato', sans-serif;

    position: relative;
    bottom: -50px;
    right: -100px;
}

div.cart {
    position: fixed;
    top: 100px;
    right: 10px;

    width: 400px;
    height: 275px;
    margin: auto;
    border: 3px solid #240a54;
    color: #240a54;
}

.divider {
    height: 70px;
    display: inline-block;
}

/*for small and extra small screens*/

h1 {
    font-size: 30px;
}

@media only screen and (max-width: 760px) {
    div.cart {
        position: relative;
        top: -40px;

        width: 300px;
        height: 260px;
        margin: auto;
        border: 3px solid #240a54;
        color: #240a54;
    }

    .checkoutbtn {
        transform: translate(-50%, -50%);
        background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
        color: white;
        padding: 10px 10px;
        border: none;
        border-radius: 10px;
        letter-spacing: .12em;
        font-size: 10px;
        font-family: 'Lato', sans-serif;
    }

}