#pay-now-button {
    background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
    color: white;
    padding: .5% 2%;
    border-radius: 10px;
    letter-spacing: .12em;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: solid rebeccapurple 2px;
}

.pay-input {
    border-radius: 5px;
}

.hr-separator {
    display: block;
    background-color: rebeccapurple;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 0;
}

.checkoutbtn {
    background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    letter-spacing: .12em;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.ckbtn {
    background: white;
    color: black;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 25px;
}

.ckbtn:hover {
    background: black;
    color: white;
}

/*textarea {*/
/*width: 40%;*/
/*height: 10%;*/
/*}*/

/*
div.cart {
    position: relative;
    width: 400px;
    height: 275px;
    margin: auto;
    border: 3px solid #240a54;
    color: #240a54;
}
*/

/*.divider {*/
/*height: 70px;*/
/*display: inline-block;*/
/*}*/

/*for small and extra small screens*/

h1 {
    font-size: 30px;
}

@media only screen and (max-width: 760px) {

    /*.checkoutbtn {*/
    /*transform: translate(-50%, -50%);*/
    /*background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);*/
    /*color: white;*/
    /*padding: 10px 10px;*/
    /*border: none;*/
    /*border-radius: 10px;*/
    /*letter-spacing: .12em;*/
    /*font-size: 10px;*/
    /*font-family: 'Lato', sans-serif;*/
    /*}*/

}

#cart-title {
    text-align: center;
    font-family: "Lato", sans-serif;

}

.menu-item {
    font-family: "Lato", sans-serif;
}

.order-name {
    font-size: 16px;
    font-weight: bold;
}

.order-descr {
    font-size: 16px;
}

.order-special button, .show-extra {
    color: black;
    border: solid black 2px;
    background: white;
    border-radius: 10px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
}

.order-special button:hover, .show-extra:hover {
    background: black;
    color: white;
    font-weight: bold;
}

.si {
    width: 25%;
    height: 80px;
    margin: 0 1% 0 0;
    border-radius: 0px;
    border: solid 2px black;
    outline: 0;
    font-size: 16px;
    word-break: break-all;

}

.si:focus {
    border: solid 2px black;
    outline: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#cart-title {
    font-family: "Lato", sans-serif;
    font-size: 22px;
}

#cart-order-again {
    border: 2px solid rebeccapurple;
    color: white;
    background: rebeccapurple;
    padding: 6px 10px;
    border-radius: 20px;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#cart-order-again:hover {
    text-decoration: none;
    background: rebeccapurple;
    color: white;
    text-transform: capitalize;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.c-t-i {
    margin-bottom: 30px;
}

#main-container {
    background: white;
}

@media only screen and (min-width: 768px) {

}

#card-number {
    margin: 0 1% 0 0;
    border-radius: 10px;
    border: solid 1px gray;
    outline: 0;
    font-size: 16px;
    word-break: break-all;
}

#exp-month, #exp-year, #phone-number, #cvc, #location,#email-address,#venmo-username {
    border-radius: 10px;
    border: solid 1px gray;
    outline: 0;
    font-size: 16px;
    word-break: break-all;
    padding: 3px;
}

#card-number:focus, #exp-month:focus, #exp-year:focus, #phone-number:focus, #cvc:focus, #location:focus, #email-address:focus, #venmo-username:focus {
    border: solid 2px black;
    outline: none;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#main-payment-form {
    font-family: "Lato", sans-serif;
}

#loc-phone {
    width: 75%;
}

#exp-month, #exp-year {
    width: 60px;
}

@media only screen and (max-width: 768px) {
    #c-cvc, #c-date {
        margin-left: 15px;
    }

    #c-cvc .row, #c-date .row {
        margin-right: -15px;
    }

    .si {
        width: 90%;
    }

    div {
        margin-bottom: 10px;
    }

    #pay-now-button {
        background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
        color: white;
        padding: 1% 4%;
        border-radius: 10px;
        letter-spacing: .12em;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        border: solid rebeccapurple 2px;
        text-transform: uppercase;

    }

}

#phone-number {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #ct-ct {
        margin-left: 15px;
    }

    #phone-number {
        width: 35%;
    }

    #pay-now-button {
        background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
        color: white;
        padding: 6px 12px;
        border-radius: 10px;
        letter-spacing: .12em;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        border: solid rebeccapurple 2px;
        text-transform: uppercase;
    }
}

#location, #phone-number {

}


#pay-now-button:hover {
    color: lightgrey;
}
.cart-review{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #240a54;
    margin-left: -15px;
    text-decoration: underline;
    margin-bottom: 15px;
}
