div.container li {
    color: black;
}


/* big screen */
@media only screen and (min-width: 769px) {
    .home-header .row {
        height: 350px;
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/branding/laptop-food.jpeg") no-repeat center;
        background-size: cover;
    }
    .my-wrap {
        height: 600px;
        background: rgba(250,250,250,0.04);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.25) 62%, rgba(0,0,0,0.5) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.25) 62%, rgba(0,0,0,0.5) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.25) 62%, rgba(0,0,0,0.5)100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.25) 62%, rgba(0,0,0,0.5) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.25) 62%, rgba(0,0,0,0.5)100%);
    }
    .subheading{
        margin-top: 4%;
        text-align: center;
        text-transform: capitalize;
        font-size: 32px;
        font-weight: 900;
        color: white;
    }
    .site-heading{
        padding-top: 50px;
    }
    #more{
        color: white;
        border: solid 2px orangered;
        padding: 7px 10px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-left: 10px;
        background: darkorange;
    }
    #btn{
        background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
        position: absolute;
        top: calc(38%);
        color: white;
        text-align: center;
        padding: 6px 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bolder;
        left: -5px;
        border: solid rebeccapurple 2px;
    }

}

/* small to medium screen */
@media only screen and (max-width: 1199px) and (min-width: 769px){
    #btn-wrap{
        padding-left: 75px;
    }

    .subheading {
        margin-top: 6%;
        font-size: 32px;
    }

    #btn {
        margin-top: 3%;
    }

}

/* extra small screen */
@media only screen and (max-width: 768px) {
    .home-header .row {
        background: url("../images/branding/laptop-food.jpeg") no-repeat center;
        height: 300px;
        background-size: cover;
    }
    .my-wrap {
        height: 300px;
        background: rgba(250,250,250,0.04);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.4) 62%, rgba(0,0,0,0.6) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.4) 62%, rgba(0,0,0,0.6) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.4) 62%, rgba(0,0,0,0.6) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.4) 62%, rgba(0,0,0,0.6) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0.4) 62%, rgba(0,0,0,0.6) 100%);
    }
    .site-heading{
        padding-top: 180px;
        width: 100%;
    }

    #btn{
        background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bolder;
        border: solid rebeccapurple 2px;
    }
    .subheading{
        text-align: center;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 900;
        color: white;
    }
}

/* iphone 5 fix */
@media only screen and (max-width: 330px) {
    .subheading{
        font-size: 18px;
    }
    #btn{
        font-size: 10px;
    }
}
#btn:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #7459a5 10%, #240a54 90%);
}