/* Tari Kandemiri */

img {
    width: 100%;
    height: auto;
}

logo {
    width: 100%;
    height: auto;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #330033;
}

figure {
    left: -40px;
    top: -10px;
    width: 100%;
    position: relative;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #240a54 10%, #7459a5 90%);
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;

    letter-spacing: .12em;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}

.btn:hover {
    background: linear-gradient(90deg, #7459a5 10%, #240a54 90%);
}


div.ex1 {
    width:500px;
    margin: auto;
    border: 3px solid #240a54;
}


ul {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7459a5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #240a54;
}

.anynames{ // this css is for position an image to the left
position:relative;
    float:left;
    width: 50px;
}

table, th, td {
    border: none;
    color: #3a2d53;
    background-color: #d1d1e0;
}

th {
    font-size: 50px;
}
