.form-control{
    width: 90%;
}
.menuList {
    color: #330033;
    font-weight: bold;
}

.menu-item-price {
    color: rebeccapurple;
}

.catList {
    color: #330033;
    font-size: 35px;
    text-transform: uppercase;
}

#restaurant-logo {
    padding: 10px;
}

.list-group-item, .panel-body, .list-group, .panel-heading, .panel, .panel-default {
    border: none;

}
.img-thumbnail{
    border: solid 2px rgb(160,160,160);
}

.list-group-item {
    padding: 1%;
}

.catList {
    font-size: 25px;
    font-family: "Lato", sans-serif;
    color: black;
}

.panel-default > .panel-heading {

}

#menu-item-top, .menuList, .menu-item-description {
    padding: 0;
    margin: 0;
    color: gray;
    font-family: "Lato", sans-serif;
}
.menuList{
    color: rebeccapurple;
}

#menu-item-line {

    border: 1px solid black;
}

#mountain-menu ul li:hover {
    background: rgb(240, 240, 240);
    cursor: pointer;
}

.itembtn {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    background: rebeccapurple;
    border: 1px solid rebeccapurple;
    color: white;
    padding: 10px;
}

#show-item-price {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

#show-item-description {
    padding: 2%;
    line-height: 18px;
    font-size: 15px;
    margin-top: 2%;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}
#mn-divider{
    height: 12px;
}
textarea {
    margin-bottom: 2%;
    width: 80%;
    margin-left: 5%;
    font-family: "Lato", sans-serif;
}
#quantity{
    margin-bottom: 2%;
    font-family: "Lato", sans-serif;
    width: 6%;
    height: 25px;
    padding: 1%;
    text-align: center;
    border-radius: 0;
    transform: translate(0, 1px);
}
.menu-item-description {
    font-size: 14px;
}

.item-extras-manipulation{
    width: 90%;
    height: 30px;
    font-size: 15px;
    line-height: 18px;
    margin-left: 5%;
    /*background: rebeccapurple;*/
    color: white;
    margin-bottom: 12px;
}

.divider-row {
    height: 7px;
}

.add-extra{
    font-size: 15px;
    font-family: "Lato", sans-serif;
    background: rebeccapurple;
    border-radius: 5px;
    padding: 6px 6px 6px 10px;
}


.item-extras-manipulation:hover{
    cursor: pointer;
}
.modal-body{
    background: white;
    color:black;
    font-weight: bold;
}

.special_instr_p{
    margin-left: 5%;
    width: 90%;
}
.free_toppings_d, .n_free_toppings_d{
    margin-left: 8%;
    background: rebeccapurple;
    color: white;
    /*border-radius: 5px;*/
    line-height: 25px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    padding-left: 1%;
    width: 180px;
}
.topings label{
    color: white;
    font-family: "Lato", sans-serif;
}

.sign{
    background: rebeccapurple;
    border: 3px solid rebeccapurple;
    /*border-radius: 5px;*/
    padding: 2px;
    height: 25px;
    width: 7%;
    color: white;
}


@media only screen and (min-width: 768px) {
    .free_toppings, .n_free_toppings{
        width: 60%;
        margin-left: 9%;
    }
    .free_toppings_d, .n_free_toppings_d{
        width: 23%;
    }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.f-item{
    margin-bottom: 3px;
}
@media only screen and (max-width: 768px) {
    .free_toppings, .n_free_toppings{
        margin-left: 9%;
        background: none;
        margin-top: 2%;

    }
    .item-extras-manipulation{
        margin-bottom: 24px;

    }
    .free_toppings_d, .n_free_toppings_d{
        width: 80%;
    }

    .q-head{
        margin-left: 5%;
    }
    .sign, #quantity{
        width: 10%;
    }
}
@media only screen and (min-width:480px) and (max-width: 768px)  {
    #add-to-cart-button{
        width: 33%;
    }
    #md-rmv{
        width: 15%;
        margin-left: 40%;
    }

}
.modal-title{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.itembtn{
    font-size: 12px;
}
#show-item-description{
    width: 90%;
    margin-left: 3%;
}
.modal-footer, .q-manip-div, .q-head{
    width: 90%;
    margin-left: 5%;
}
