@media only screen and (max-width: 768px) {

    #collapse-button {
        margin-right: 20px;
    }

    #navDiv {
        /*margin-left: 5%;*/
        text-indent: 10px;
    }
}

@media only screen and (min-width: 768px) {
    nav {
        height: 60px;
    }

    #navDiv {
        /*margin-left: 10px;*/
        /*margin-right: 10px;*/
        height: 60px;
    }

    #logout-li {
        margin-top: 13px;
        margin-right: 5px
    }

    #logout-a {
        padding: 28px 18px;
        cursor: pointer;
        color: #777;
    }

    #logout-a:hover {
        color: white;
        /* remove underline from link */
        text-decoration: none;
    }

    #navDiv ul, #navDiv li, #navDiv a {
        height: 60px;
    }

    #navDiv li, #navDiv li form {
        vertical-align: middle;
    }

    .navbar-brand {
        width: 100%;
        /* top | right | bottom | left */
        padding: 0 0 0 5px;
    }

    #brand_img {
        height: 120%;
        width: auto;
    }

    #navDiv {
        padding: 0;
        font-size: 14px;
        /*margin-left: -200px;*/
    }

    .nav-container {
        padding-right: 30px;
    }

}

#navDiv ul li {
    padding: 0;
}

/*nav {*/
/*!*background: linear-gradient(90deg, #8268B3 10%, #240a54 90%);*!*/
/*font-size: 15px;*/
/*padding: 0;*/

/*}*/

#navDiv a:hover {
    background: linear-gradient(90deg, #7459a5 10%, #240a54 90%);
    color: white;
    cursor: pointer;
}

/*for small and extra small screens*/
@media only screen and (max-width: 768px) {

    #navDiv {
        margin-left: 20px;
        margin-right: 10px;
        padding: 0;
        font-size: 15px;
    }

    .navbar-header, .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        height: 100%;
        width: auto;
    }

    #navDiv {
        width: 100%;
        overflow: hidden;
    }

    #collapse-button {
        margin-right: 20px;
    }

    #navDiv {
        padding: 0;
        font-size: 15px;
    }

    #logout-a {
        margin: 10px 0 10px 0;
        padding: 12px 100% 12px 15px;
        cursor: pointer;
        color: #777;
    }

    #logout-a:hover {
        color: white;
        /* remove underline from link */
        text-decoration: none;
    }

}

/*#nav-divider{*/

/*}*/
