.nav-upper {
    height: 50px;
}
.nav-upper ul {
    float: right;
    display: table;
}
.nav-upper .navbar-upper > li {
    display: table-cell;
    font-size: 14px;
}
.nav-upper .navbar-upper > li > a {
    color: #777;
}
@media (min-width: 768px) {
    .navbar.navbar-lower .navbar-nav {
        margin-left: 200px;
    }
}

@media (max-width: 768px) and (min-width: 400px) {
    #navbar ul li{
        border-bottom: solid 1px rgba(191, 87, 0, .08);
    }
}
@media (min-width: 1200px) {
    #navbar ul li a{
        font-size: 16px;
    }
}
@media (min-width: 811px) and (max-width: 1199px){
    #navbar ul li a{
        font-size: 15px;
    }
}
@media only screen and (max-width: 810px) and (min-width: 769px){
    #navbar ul li a{
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px){
    .navbar-logo {
        background: url('../images/branding/brand-tall-cropped.png') no-repeat center center;
        width: 320px;
        height: 99px;
        background-size: cover;
        position: absolute;
        top: -12px;
        left: 10px;
        z-index: 1051;
    }
    .brand-wrap{
        position: absolute;
        /*border: 1px solid grey;*/
        width:210px;
        padding: 5px;
        top: 5px;
        left: 0px;
        height: 92px;
        /*margin-left: 15px;*/
        /*-webkit-box-shadow: 0px 0px 2px 0px rgba(97,6,97,1);*/
        /*-moz-box-shadow: 0px 0px 2px 0px rgba(97,6,97,1);*/
        /*box-shadow: 0px 0px 2px 0px rgba(97,6,97,1);*/
        margin-left: 5px;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-logo {
        background: url('../images/branding/brand_tall_logo.png') no-repeat center center;
        width: 150px;
        height: 75px;
        background-size: cover;
        position: absolute;
        top: 5px;
        left: 15px;
        z-index: 1051;

    }
    .brand-wrap{
        position: absolute;
        width:210px;
        padding: 5px;
        top: 5px;
        left: 0;
        height: 92px;
        margin-left: 15px;
    }
}
.navbar-toggle {

}
#navbar ul li a{
    color: rebeccapurple;
    font-weight: bold;
}
/*#navbar ul li:hover, */
#navbar ul li:hover > a{
    background: rebeccapurple;
    color: white;
}
.navbar-header button{
    color: rebeccapurple;
    border: solid 2px rebeccapurple ;
}
span.icon-bar{
    background-color: rebeccapurple;

}
.navbar{
    margin-bottom: 0;
}
.bottom-hr{
    border: solid rebeccapurple 1px;
    margin: 0 -15px;
}