
.restaurant-cat-header {
    font-size: 20px;
}

#restaurant-group img {
    width: auto;
}

#restaurant-group li:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#restaurant-group li {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    padding: 10px;
}

@media only screen and (min-width: 768px) {

    #restaurant-group {
        padding-left: 0;
    }

    #restaurant-group li {
        margin-top: 2%;
        width: 25%;
        margin-left: 4.165%;
        margin-right: 4.165%;
    }

}

@media only screen and (max-width: 768px) {

    #restaurant-group li {
        margin-top: 5%;
        margin-bottom: 5%;
        /*width: 70%;*/
        /*margin-left: 15%;*/
        /*margin-right: 15%;*/
    }
}
@media only screen and (max-width: 320px) {

    #mountain, #monteagle{
        font-size: 16px;
    }
}
.restaurant-status, .weekly-status, .event-status{
    background: rgb(31, 183, 99);
    text-align: center;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    padding: 6px 12px;
    color: white;
    font-weight: bold;
}
.event-status{
    background: darkorange;
}

.on-demand-links:hover, .weekly-specials-link:hover{
    text-decoration: none;
}
/*new looks*/
#mountain{
    color: white;
    font-weight: bolder;
    font-size: 18px;
    background: rebeccapurple;
    padding: 6px 12px;
}
#no-specials{
    color: black;
    font-size: 16px;
}
@media  (min-width: 768px){
    #mountain{
        width: 320px;
    }
}