
#custom-line{
    border: double rebeccapurple 2px;

}
#restaurant-logo{
    border: 2px indianred;
    background: url("../../images/bambou.jpg");
    margin-bottom: -15px;
}
.panel-default, .panel-heading{
    padding-top: 0;
    margin-top: 0;
}
/*#mountain-menu ul li:hover {*/
    /**/
/*}*/